@use '../../styles/variables.module' as *;
@use '../../styles/fonts.module' as *;

.inputBlock {
  position: relative;
}

.errorText {
  position: absolute;
  top: 106%;
  left: 1%;
  @include error-font;
  color: $error;
}

@media screen and (max-width: $md) {
  .errorText {
    font-size: 12px;
  }
}

@media screen and (max-width: $sm) {
  .errorText {
    font-size: 8px;
  }
}
