@use '../../styles/variables.module' as *;
@use '../../styles/fonts.module' as *;

.mainContainer {
  background-color: $white-color;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0px 15px 45px;
}

.resultBlock {
  margin: 40px 0px 45px;
  padding-bottom: 5px;
  border-bottom: 1px solid $main-border-color;
}

.textResult {
  @include bold-font;
  color: $main-black-color;
  text-align: start;
}

.articleCardField {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-column-gap: 30px;
  grid-row-gap: 45px;
  justify-content: space-around;
}

.infoBlock {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 10;
}

.infoMassage {
  @include error-font;
  font-size: 25px;
  position: absolute;
  transform: translate(-50%, -55%);
  top: 50%;
  left: 50%;
}

.loadingBlock {
  width: 100%;
  height: 500px;
  position: relative;
}
