@use './styles/colors.module' as *;

.App {
  text-align: center;
  max-width: 100%;
  margin: auto;
  height: 100%;
  background-color: $white-color;
}

.mainContainer {
  background-color: $white-color;
  width: 1290px;
  margin: 0 auto;
  padding-bottom: 45px;
}
